<h1> hello</h1>
<h1> {{title}}</h1>
<p *ngIf="count>5">I am visible</p>
<p><strong>Count="{{count}}"></strong></p>
<button (click)="increment()">Increment count</button><br><br>
<button (click)="decrement()">Decrement count</button><br><br>

<li *ngFor="let item of listofnumbers">{{item}}</li><br>
<li *ngFor="let item of listofnames">{{item}}</li><br>

<input type="number" [(ngModel)]="number2">
<input type="number" [(ngModel)]="number1"><br><br>

<button (click)="Add()">Add</button><br><br>

<button>{{result}}</button><br><br>

